.App {
  text-align: center;
}

.app-header {
  background-color: #393f4b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.search-bar input {
  padding: 12px 20px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar input:focus {
  border-color: #007BFF;
}

.search-bar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar li {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar li:hover {
  background-color: #f1f1f1;
}

.gist-grid-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 16px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.gist-grid-cell {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.gist-grid-container {
  gap: 16px;
  padding: 20px;
}