.App {
  text-align: center;
}

.app-header {
  background-color: #393f4b;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
}

.search-bar {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 2vh;
} 

.search-bar input {
  padding: 10px;
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
  box-sizing: border-box;
}



.search-options {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10; 
}

.search-bar input:focus {
  border-color: #007BFF;
}

.search-bar ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar li {
  padding: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar li:hover {
  background-color: #f1f1f1;
}

.gist-grid-row {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: space-between;
  gap: auto;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.gist-grid-cell {
  padding: 20px;
  text-align: center;
  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.gist-grid-container {
  display: grid;
  width: 90%;
  gap: 16px;
  padding: 20px;
  
}

.fork-avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-bottom: 10px;
}


.gist-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.grid-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.grid-header {
  background-color: #f0f0f0;
  font-weight: bold;
}

.no-forks {
  font-size: 16px;
  color: #ccc;
  
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  width: 100%;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 1000px;
  width: 100%;
  position: relative;
}